<nav class="navbar navbar-expand-lg nav-style">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Biblioteca</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <div class="content-main-nav">
          <div class="select-nav">
            <button class="generos"> Gênero
              <img
                src="https://media.discordapp.net/attachments/945491578410119180/1018928869820084324/Forma_1.png"
              />
            </button>

            <div class="select-content">
              {{#each cat}}
                <a href="/categorias/{{slug}}">
                  <button type="button" >{{nome}}</button>
                </a>

              {{else}}
                <p>Nenhuma categoria! </p>
              {{/each}}
            </div>
          </div>
      {{!-- Admin --}}
        <div class="content-nav-admin">
          {{#if user}}
            <li class="nav-item">
              <a href="/usuarios/logout" class="nav-link text-white">
                <button type="button" class="btn btn-danger">Sair</button>
              </a>
            </li>
          {{else}}
            <li class="nav-item">

              <a href="/usuarios/login" class="nav-link text-white">
                <button type="button" class="btn btn-success">Admin</button>
              </a>
            </li>
          
          {{/if}}

          {{#if user.eAdmin}}
                  <li class="nav-item">
                    <a href="/admin/categorias" class="nav-link text-white">
                      <button type="button" class="btn btn-warning">Categorias</button>
                    </a>
                 </li>

                <li class="nav-item">
                    <a href="/admin/postagens" class="nav-link text-white">
                      <button type="button" class="btn btn-info">Livros</button>
                    </a>
                </li>
          {{/if}}
        </div>
          </div>
        

     
    </div>
  </div>
</nav>
