<h4>Categorias: </h4>
<hr>
<div class="categorias-card">
{{#each cat}}
    <a href="/categorias/{{slug}}"><h5>{{nome}}</h5></a>
{{else}}
</div>
<h4>Nenhuma categoria registrada.</h4>
{{/each}}
<h4></h4>